# Entorno virtual
.venv/
venv/
env/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos SQLite
*.sqlite3
db.sqlite3

# Archivos temporales
*.log

# Configuraciones de VSCode
.vscode/

# Archivos de configuración locales
local_settings.py
.env

# Archivos del sistema
.DS_Store
Thumbs.db
